@charset "utf-8";

@import "_mixins";
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";


$deep-purple: #4100DC;;
$purple: #9114DF;

@import "bulma/bulma";
@import "spinkit/scss/spinners/1-rotating-plane";

$primary: $deep-purple; 
$secondary-color: $purple;

@include font-face( "BlissRegular", "../fonts/bliss/bliss-regular-webfont");

html,body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; height:100%; line-height: 100%; font-size: 100%; }

h1,h2,h3,h4,h5,p,ul,ol,div { line-height: 1.5; }
ol,ul,p { margin-bottom:1em; }
ol,ul { margin-top: 1em; margin-bottom:1em; }

h1,h2,h3,h4,h5 { line-height:1.5; margin:1em 0 0.5em; font-family: "BlissRegular", sans-serif; }
h1 { font-size: 2rem; margin:1em 0 0.5em;}
h2 { font-size: 1.7rem; }
h3 { font-size: 1.3rem; }
h4 { font-size: 1.1rem; }

ul, ol { padding-left: 1.5em; list-style: disc; }

*[class*="-wrapper"] { margin-left:auto; margin-right:auto; }

.sk-rotating-plane {
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.8);
    margin: 40px auto;
    -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
            animation: sk-rotatePlane 1.2s infinite ease-in-out; 
}

div.preloader-wrapper { z-index:999; transition:opacity 0.7s; position: fixed; display: flex; justify-content: center; align-items: center; width:100%; top:0; left:0; right:0; bottom: 0; background:rgba(82, 103, 223, 1); }
div.preloader-wrapper.hide { opacity: 0; }

.navbar-brand a { color:$primary; font-family: "BlissRegular", sans-serif; font-weight: bold; text-transform: uppercase; }
.navbar-brand a > span { color:$secondary-color; }
.navbar-menu { font-size:0.95rem; }
.main-header { border-bottom:1px solid #ececec; }

.main-wrapper { margin-top:0; padding: 1em 0;  max-width:950px; }
main { padding:0 15px; margin-left:auto; margin-right:auto; }
.converter-wrapper { margin:2em 0 1em; }
.converter-wrapper .tabs { margin-bottom: 0; }

.tabs a { cursor: pointer; }
.tabs ul { margin-top:0; margin-bottom: 0; }
.tabs-content { position: relative; }
.tabs-content .tab { padding:1em 0; position: absolute; top:0; left:0; right:0; width: 100%; }
.tab1 { z-index:1; }
.tab2 { z-index:2; }

.from-to-fields { display: flex; flex-direction: column; flex:0 0; }
.from-to-fields > div { padding:0 0.5em 0 0; }
.from-field, .to-field { margin:1em 0 !important; }

.convert-form .field:first-child { margin-top: 0; }
.field { margin-top:1.5em; margin-bottom:1.5em; }
.amount-field input { width:220px !important; text-align: right; }
.submit-btn { width:220px !important; }
.notification { margin-bottom:0; display:none; font-weight:bold; line-height: 1.7; border-radius: 0; }

.results { padding:1em 0; display:none; }
.results p { margin:0; color:$primary; }

@media screen and (min-width:768px) {
    .from-to-fields { flex-direction: row; }
}
